<%= render "shared/header" %>

<h1>褒めちぎって欲しいことの編集ページ</h1>


  <div class="right-contents">
    <h4>褒めちぎって欲しいこと投稿</h4>
    <div class="success-form">
      <%= form_with(model: [@user, @message], local: true) do |f| %>

        <div class="success-title">タイトル</div>
        <%= f.text_area :title, class: "", placeholder: "例）私を褒めちぎって下さい" %>
        <div class="success-text">内容</div>
        <%= f.text_area :text, class: "", placeholder: "具体的に褒めちぎって欲しい事を遠慮なく載せよう！！" %>

        <div class="success-btn">
          <%= f.submit "更新", class: "" %>
        </div>

      <% end %>
    </div>
  </div>