<%= render "shared/header" %>

<h1>褒めちぎって欲しいこと詳細ページ</h1>

<div class="contents-show">

  <div class="content-show">
    <div class="title-show">タイトル</div>
    <%= @message.title %>
    <div class="text-show">内容</div>
    <%= @message.text %>
    <div class="user-show">投稿者</div>
    <%= "by#{@message.user.nickname}さん" %>
  </div>

  <div class="show-btn">
    <% if user_signed_in? && current_user.id == @message.user_id %>
      <%= link_to "編集", edit_user_message_path(@message.id), class: "edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", user_message_path(@message.id), method: :delete, class: "delete-btn" %>
    <% else %>
      <div class="good-btn">いいね！</div>
    <% end %>
  </div>

  <div class="message-comments">
    <% if user_signed_in? && current_user.id != @message.user_id%>
      <%= form_with(model: [@message, @comment], local: true) do |f| %>
        <div class="field">
          <%= f.label :text, "コメント" %><br />
          <%= f.text_field :text, id:"comment_text" %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
      <% end %>
    <% end %>

    <ul class="comments-lists">
      <% @comments.reverse_each do |comment| %>
        <li class="comments_list">
          <%= comment.text %>
          <%= "by#{comment.user.nickname}さん" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>