<%= render "shared/header" %>

<div class="contents-show">

  <div class="content-show">
    <div class="title-show">タイトル</div>
    <%= @emotion.title %>
    <div class="text-show">内容</div>
    <%= @emotion.text %>
    <div class="user-show">投稿者</div>
    <%= "by#{@emotion.user.nickname}さん" %>
  </div>

  <div class="show-btn">
    <% if user_signed_in? && current_user.id == @emotion.user_id %>
      <%= link_to "編集", edit_user_emotion_path(@emotion.id), class: "edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", user_emotion_path(@emotion.id), method: :delete, class: "delete-btn" %>
    <% else %>
      <div class="good-btn">いいね！</div>
    <% end %>
  </div>

</div>

<%= render "shared/footer" %>