<%= render "shared/header" %>

<% if user_signed_in? %>

  <h2><%= link_to "ようこそ、#{current_user.nickname}さん", "#", class: "user-nickname" %></h2>

  <div class="tab">
  
      <input type="radio" name="tab" id="tab1" checked>
      <label for="tab1">My Page</label>
      <input type="radio" name="tab" id="tab2">
      <label for="tab2">成功体験一覧</label>
      <input type="radio" name="tab" id="tab3">
      <label for="tab3">褒めちぎり</label>
      <input type="radio" name="tab" id="tab4">
      <label for="tab4">情緒的喚起</label>
      <input type="radio" name="tab" id="tab5">
      <label for="tab5">My Note</label>

    <div class="self-efficacy">
      <ul>
        <li><%= render "shared/my_page" %></li>
      </ul>
      <ul>
        <li><%= render "shared/success" %></li>
      </ul>
      <ul>
        <li><%= render "shared/message" %></li>
      </ul>
      <ul>
        <li><%= render "shared/emotion" %></li>
      </ul>
      <ul>
        <li><%= render "shared/note" %></li>
      </ul>
    </div>

  </div>

<% else %>

  <h1>トップページ</h1>

<% end %>