<div class="footer">

  <div class="footer-top">
    <div class="footer-left">
      <p><%= link_to "会社概要", "#", class: "footer-link" %></p>
      <p><%= link_to "プライバシーポリシー", "#", class: "footer-link" %></p>
      <p><%= link_to "利用規約", "#", class: "footer-link" %></p>
    </div>
    <div class="footer-right">
      <p><%= link_to "採用情報", "#", class: "footer-link" %></p>
      <p><%= link_to "引用書籍・サイト", "#", class: "footer-link" %></p>
      <p><%= link_to "作成者", "#", class: "footer-link" %></p>
    </div>
  </div>

  <div class="footer-bottom">
    © SELFY
  </div>
</div>