<header class="top-page-header">

  <div class="nav">
    <div class="header-left">
      <%= link_to image_tag("logo.jpeg" , class: "header-logo"), "/" %>
      <div class="header-center">
        〜あなたの自己効力感向上の手助けをします〜
      </div>
    </div>

    <div class="header-right">
      <ul class="user-devise">
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,  class: "logout" %></li>
          <li><%= link_to "退会", user_path(current_user.id), class: "unsubscribe" %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: "login" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>

</header>
