<h1>褒めちぎり</h1>

<div class="success-contents">

  <div class="left-contents">
    <h4>褒めちぎって欲しいこと一覧</h4>

    <p id="successes">
      <% @messages.each do |message| %>
        <p class="success-list">
          <%= link_to message.title, message_path(message.id) %>
          <%= message.user.nickname %>
          <%= message.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      <% end %>
    </p>
  </div>

  <div class="right-contents">
    <h4>褒めちぎって欲しいこと投稿</h4>
    <div class="success-form">
      <%= form_with(model: [@user, @message], local: true) do |f| %>

        <div class="success-title">タイトル</div>
        <%= f.text_area :title, class: "", placeholder: "例）私を褒めちぎって下さい" %>
        <div class="success-text">内容</div>
        <%= f.text_area :text, class: "", placeholder: "具体的に褒めちぎって欲しい事を遠慮なく載せよう！！" %>

        <div class="success-btn">
          <%= f.submit "投稿", id: "success-submit" %>
        </div>

      <% end %>
    </div>
  </div>
</div>