<h1>褒めちぎり</h1>

<div id='messages'>
  <% @messages.each do |message| %>
    <% if current_user.id == message.user_id %>
      <P class="keep-right"><%= message.user.nickname %></p>
      <P class="keep-right"><%= message.comment %></p>
    <% else %>
      <P class="keep-left"><%= message.user.nickname %></p>
      <P class="keep-left"><%= message.comment %></p>
    <% end %>
  <% end %>
</div>

<div class="message-form">
  <%= form_with(model: [@user, @message], local: true) do |f| %>
    <%= f.text_field :comment, placeholder: 'メッセージを入力' %>
    <%= f.submit '送信', id: 'submit' %>
  <% end %>
</div>