<div class="success-contents">

  <div class="left-contents">
    <h4>成功体験一覧</h4>

    <p id="successes">
      <% @successes.each do |success| %>
        <p class="success-list">
          <%= link_to success.title, success_path(success.id) %>
          <%= success.user.nickname %>
          <%= success.created_at.strftime('%Y/%m/%d %H:%M') %>
        </p>
      <% end %>
    </p>
  </div>

  <div class="right-contents">
    <h4>成功体験投稿</h4>
    <div class="success-form">
      <%= form_with(model: [@user, @success], local: true) do |f| %>

        <div class="success-title">タイトル</div>
        <%= f.text_area :title, class: "", placeholder: "例）私が転職に成功した話" %>
        <div class="success-text">内容</div>
        <%= f.text_area :text, class: "", placeholder: "あなたの成功体験を好きなように投稿しましょう！！" %>

        <div class="success-btn">
          <%= f.submit "投稿", id: "success-submit" %>
        </div>

      <% end %>
    </div>
  </div>
</div>