<%= render "shared/header" %>

<h1>成功体験の編集ページ</h1>


  <div class="right-contents">
    <h4>成功体験投稿</h4>
    <div class="success-form">
      <%= form_with(model: [@user, @success], local: true) do |f| %>

        <div class="success-title">タイトル</div>
        <%= f.text_area :title, class: "", placeholder: "例）私が転職に成功した話" %>
        <div class="success-text">内容</div>
        <%= f.text_area :text, class: "", placeholder: "あなたの成功体験を好きなように投稿しましょう！！" %>

        <div class="success-btn">
          <%= f.submit "更新", class: "" %>
        </div>

      <% end %>
    </div>
  </div>