<%= render "shared/header" %>

<div class="contents-show">

  <div class="content-show">
    <div class="title-show">タイトル</div>
    <%= @success.title %>
    <div class="text-show">内容</div>
    <%= @success.text %>
    <div class="user-show">投稿者</div>
    <%= "by#{@success.user.nickname}さん" %>
  </div>

  <div class="show-btn">
    <% if user_signed_in? && current_user.id == @success.user_id %>
      <%= link_to "編集", edit_user_success_path(@success.id), class: "edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", user_success_path(@success.id), method: :delete, class: "delete-btn" %>
    <% else %>
      <% if current_user.like_successes.include?(@success) %>
        <%= form_with(model: @like, url: success_likes_path(@success.id), method: :delete, local: true) do |f| %>
          <%= f.hidden_field :success_id, value: @success.id %>
          <%= f.submit 'いいね解除', class: "good-btn" %>
        <% end %>
      <% else %>
        <%= form_with(model: @like, url: success_likes_path(@success.id), local: true) do |f| %>
          <%= f.hidden_field :success_id, value: @success.id %>
          <%= f.submit 'いいね！', class: "good-btn" %>
        <% end %>
      <% end %>
    <% end %>

  </div>

</div>

<%= render "shared/footer" %>

